{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Airsnakes</title>
  <meta name="description" content="Morden Bootstrap HTML5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">
    
   <!-- ======= All CSS Plugins here ======== -->
  <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper-bundle.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/plugins/glightbox.min.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
  
  <!-- Plugin css -->
  <!-- <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css"> -->
  
  <!-- Custom Style CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
    
<body>
    {% block content %}


    {% endblock %}

    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}" defer="defer"></script>
    <script src="{% static 'assets/js/plugins/glightbox.min.js' %}" defer="defer"></script>
  
    <!-- Customscript js -->
    <script src="{% static 'assets/js/script.js' %}" defer="defer"></script>
    
  </body>
  </html>